{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}

<form action="" method="post">
  {% csrf_token %}

  <br class="is-desktop"/>
  <br class="is-desktop"/>
  <br class="is-desktop"/>

  <div class="columns">
    <div class="column is-desktop ">
      <br>
      <br>
      <br>
    </div>
    <div class="column">
      <h1 class='has-text-centered has-text-weight-semibold'>Wprowadź email w celu zresetowania hasła</h1>
      <br>
      
      <div class="box register_box">
        <div class="field">
          <label for="{{ form.email.id_for_label }}" class="label">
             <h2 class='has-text-centered'>Email</h2>
          </label>
          <div class="control">
            {{ form.email|add_class:"input" }}
          </div>
          <p class="help is-danger">{{ form.email.errors }}</p>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">resetuj</button>
        </div>
      </div>  
    </div>

    <div class="column">
    </div>
  </div>
</form>

{% endblock %}

