{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}

  <br class="is-desktop"/>
  <br class="is-desktop"/>
  <br class="is-desktop"/>

  <div class="columns">
    <div class="column is-desktop"></div>

    <div class="column">

		<div class="box register_box">
			<div class="field">
				<label for="{{ form.new_password1.id_for_label }}" class="label">
				  Nowe Hasło
				</label>
				<div class="control">
				  {{ form.new_password1|add_class:"input" }}
				</div>
				<p class="help is-danger">{{ form.new_password1.errors }}</p>
			</div>
			
			<div class="field">
				<label for="{{ form.new_password2.id_for_label }}" class="label">
				  Powtórz Nowe Hasło
				</label>
				<div class="control">
				  {{ form.new_password2|add_class:"input" }}
				</div>
				<p class="help is-danger">{{ form.new_password2.errors }}</p>
			</div>

		</div>
		<div class="field">
			<div class="control">
			  <button class="button is-link">zatwierdź</button>
			</div>
		  </div>


	</div>
	<div class="column">
	</div>
</div>

{% endblock %}


  