{% extends 'base.html' %} {% block content %}

<form action="" method="post">
  {% csrf_token %}

  <br class="is-desktop"/>
  <br class="is-desktop"/>
  <br class="is-desktop"/>

  <div class="columns">
    <div class="column is-desktop"></div>

    <div class="column">
      <p class='has-text-centered'>{{ message }}</p>
      <h1 class="title is-3 has-text-centered">Zaloguj Się</h1>
      <br class="is-desktop"/>
      <br class="is-desktop"/>
      <br/>

      <div class="box register_box">
        <div class="field">
          <label class="label">Email</label>
          <div class="control has-icons-left has-icons-right">
            <input
              class="input"
              type="email"
              name="username"
              required
              id="id_username"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
        </div>
        <!-- </div> -->
        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input
              class="input"
              type="password"
              name="password"
              required
              id="id_password"
            />
            <span class="icon is-small is-left">
              <i class="fas fa-user-alt"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">zaloguj</button>
        </div>
      </div>
      <div class="control">
        <a href="{% url 'reset_password' %}">przypomnij hasło</a>
      </div>
    </div>

    <div class="column"></div>
  </div>
</form>

{% endblock %}
