{% extends 'base.html' %}
{% block content %}

<form action="" method="post">
	{% csrf_token %}


		<br>
	<br>
	<br>



	  <h1 class="title is-3 has-text-centered">Zaloguj Się</h1>
	<br>
	<br>
	<br>

		<table >
		   <thead>
			<tr><th class="col-1" width="60%"></th>
				<th class="col-2" width="30%"></th>
				<th class="col-3" width="10%"></th>

				</tr>
				</thead>
				<tbody>
				<tr>
				<td></td>
				<td>
<div class="box register_box">
	<div class="field">
	  <label class="label">Email</label>
	  <div class="control has-icons-left has-icons-right">
		<input class="input " type="email" name="username" required id="id_username">
		<span class="icon is-small is-left">
		  <i class="fas fa-envelope"></i>
		</span>
	  </div>

	</div>

	<div class="field">
	  <label class="label">Name</label>
	  <div class="control">
		  <p class="control is-expanded has-icons-left">
			<input class="input" type="password" name="password" required id="id_password">
			  <span class="icon is-small is-left">
				<i class="fas fa-user-alt"></i>
			  </span>
		  </p>
	  </div>
	  <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">zaloguj</button>
	</div>
</div>
			</td>
			<td></td>
			</tr>
			</tbody>
		</table>
</div>
</form>

{% endblock %}