.body {
	margin: 0;
	background: aliceblue;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800send;
}

.main-page-container {
  margin-left: 5%;
  margin-right: 5%;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: white;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.col-1 {
    color: black;
    font-weight: bold;
    font-size: 25px;
    vertical-align: top;

}

.col-6 {
  color:red;
  font-size: 50px;
  vertical-align: top;
  text-align: right;
}

.row {
  color: black;
  vertical-align: top;
}

.main {
  margin-left: 15%;
  margin-right: 15%;
  background-color: aliceblue ;
}

.offer {
    color:black;
    width: 500px;
    overflow: hidden;
}
.offer {
    width: 500px;
    overflow: auto;
}
#offer_one {
    float: left;
    width: 300px;

}
#offer_two {
    margin: 0 0 0 302px;
}



.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

.txt_white {
	color: white;
}



























#txt_msg {
    margin: 0 0 0 302px;
}
